// COLORS
$color-primary: hsl(16, 100%, 50%);
$color-black: hsl(0, 0%, 0%);
$color-broun:hsl(0, 100%, 35%);
$color-grey:hsl(0, 3%, 85%);
$color-dark:hsl(0, 0%, 18%);



// FONTS
$font-poppins: "Poppins", sans-serif;
$font-inter:"Inter";
