.servis{
    padding: 50px 0;
}

.servis__title{
    max-width: 445px;
    @include title;
    margin: 40px 0  10px 0;
}

.servis__subtitle{
    @include subtitle;
    max-width: 445px;
}

.servis__list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.servis__item{
    margin-right: 65px;
}