.story{
    position: relative;
    padding: 50px 0;
    background-image: url("../../images/big-icon.png");
    background-repeat: no-repeat;
    background-size: 143px 120px;
    background-position: top left 120px;
}

.story__title{
    @include title;
    max-width: 445px;
    margin:  0 0 10px 159px ;
}

.story__subtitle{
    @include subtitle;
    max-width: 445px;
    margin:  0 0 50px 159px ;
}

.sroty__content{
    display: flex;
    margin-left: 254px;
}

.floyd{
    height: 468px;
    padding: 0 35px 100px 35px;
    margin-right:30px;
}


.watson{
    height: 300px;
    padding: 20px 35px 30px 35px;
    margin-top: 230px;
}

.cooper{
    width: 445px;
    padding: 30px;
    position: absolute;
    top: 90px;
    right: 220px;
}

.floyd,
.cooper,
.watson{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.floyd__subtitle,
.watson__subtitle,
.cooper__subtitle{
    max-width: 280px;
    margin-bottom: 25px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}


.floyd__title,
.watson__title,
.cooper__title{
    font-family:"Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 5px;
}   

.floyd__text,
.watson__text,
.cooper__text{
    font-family: $font-inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $color-grey;
}




